*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: ghostwhite;
}

/* banner */

.banner{
  background-color: #ffffff;
  margin-bottom: 50px;
}

#logo{
  width: 80px;
  height: 80px;
  vertical-align: middle;
  margin: 20px 10px 20px 20px;
}

h1{
  display: inline-block;
  vertical-align: middle;
  font-size: 4rem;
}

/* Section 1 - Button */

.button-container{
  margin: 1px 15%;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 15px 15px 0px 0px;
}

.buttonTask, .buttonSection{
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.buttonTask{
  background-color: rgb(91, 155, 235);
  color: #ffffff;
  border: 0px
}

.buttonSection{
  background-color: rgb(255, 255, 255);
  color: #d8d8d8;
  border: 5px solid #d8d8d8;
}