*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: ghostwhite;
}

/* banner */

.banner{
  background-color: #ffffff;
  margin-bottom: 50px;
}

#logo{
  width: 80px;
  height: 80px;
  vertical-align: middle;
  margin: 20px 10px 20px 20px;
}

h1{
  display: inline-block;
  vertical-align: middle;
  font-size: 4rem;
}

/* Section 1 - Button */

.button-container{
  margin: 0px 15%;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
}

.buttonTask, .buttonSection{
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.buttonTask{
  background-color: rgb(91, 155, 235);
  color: #ffffff;
  border: 0px
}

.buttonSection{
  background-color: rgb(255, 255, 255);
  color: #d8d8d8;
  border: 5px solid #d8d8d8;
}

/* Section 2 - Lista */

.container{
  margin: 3px 15%;
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
}

.list-container, li{
  list-style: none;
  padding: 20px;
  font-size: 1.2rem;
}

span{
  vertical-align: middle;
  font-size: 0.8rem;
  color: #ffffff;
  border-radius: 10px;
  padding: 5px;
}

/* color tag */

.editorial{
  background-color: rgb(32, 117, 174);
}
.goals{
  background-color: rgb(114, 20, 173);
}
.recruiting{
  background-color: rgb(58, 199, 178);
}
.mobile{
  background-color: rgb(210, 154, 49);
}
.website{
  background-color: rgb(189, 77, 226);
}
.sales{
  background-color: rgb(129, 192, 35);
}

/* entity */

.check{
  background-color: rgb(255, 255, 255);
  color: green;
  border: green 2px solid;
  border-radius: 30px;
}
.cross{
  background-color: rgb(255, 255, 255);
  color: rgb(221, 10, 10);
  border: rgb(221,10,10) 2px solid;
  border-radius: 30px;
}

/* list-titles */

.list-titles{
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  padding-bottom: 5px;
  padding-top: 30px;
}

li{
  padding: 15px;
}